@font-face {
  font-family: "iconfont"; /* Project id 4012909 */
  src: url('iconfont.woff2?t=1683216761542') format('woff2'),
       url('iconfont.woff?t=1683216761542') format('woff'),
       url('iconfont.ttf?t=1683216761542') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-2:before {
  content: "\e601";
}

.icon-tixingshixin:before {
  content: "\ec72";
}

.icon-yundongguiji:before {
  content: "\e61c";
}

.icon-daojishi:before {
  content: "\e649";
}

.icon-shuiguo:before {
  content: "\e882";
}

.icon-a-tadiao_huaban1:before {
  content: "\e808";
}

.icon-map-link-full:before {
  content: "\ea01";
}

.icon-map-connect-full:before {
  content: "\ea02";
}

.icon-yuan:before {
  content: "\e657";
}

.icon-daojishimeidian:before {
  content: "\e663";
}

.icon-matou:before {
  content: "\e6e5";
}

.icon-matou1:before {
  content: "\e942";
}

.icon-zhuanyunche:before {
  content: "\e6b5";
}

